%top_and_bottom_box_shadow{
  -moz-box-shadow:    inset  0  8px 8px -8px #000,
  inset  0 -8px 8px -8px #000;
  -webkit-box-shadow: inset  0  8px 8px -8px #000,
  inset  0 -8px 8px -8px #000;
  box-shadow:         inset  0  8px 8px -8px #000,
  inset  0 -8px 8px -8px #000;
}

%button{
  appearance: none;
  background-color: $color___accent_primary;
  border: 0;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $typography___primary;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: mix(#000, $color___accent_primary, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: $color___accent_primary;
    }
  }
}