$site___content_max_width: 1000px;

$typography___primary:   "Open Sans", sans-serif;
$typography___secondary: "Roboto Condensed", sans-serif;

$color___light: #fff;
$color___dark:  #333;
$color___accent_primary: #F4325B;
$color___accent_secondary: rgb(95, 179, 206);
//$color___accent_secondary: #419cc5;
//$color___accent_secondary: #66D9EF;

//$color___accent_primary: $color___accent_secondary;
//$color___accent_secondary: $color___accent_primary;

$color___html_background:   $color___light;
$color___body_background:   $color___light;
$color___body_font_default: $color___dark;
$color___body_headings:     $color___dark;

$breakpoint___mobile-landscape: "min-width: 480px";
$breakpoint___tablet: "min-width: 600px";
$breakpoint___desktop_small: "min-width: 768px";

