/*--------------------------------------------------------------
# Reset || Normalize
--------------------------------------------------------------*/
//@import "reset";
@import "normalize";

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables";

/*--------------------------------------------------------------
# Placeholders
--------------------------------------------------------------*/
@import "placeholders";

/*--------------------------------------------------------------
# Basic Setup (HTML/Body)
--------------------------------------------------------------*/
@import "setup";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography";

/*
temp css coded here for lack of time
*/

header{
  padding: 2rem 0;
  background-color: #fff;
  h1{
    font-size: 4rem;
  }
  h1,
  h3{
    text-align: center;
  }
}
#top {
  background-color: #555;
  @extend %top_and_bottom_box_shadow;
  padding: 3rem 0;

  form{
    padding: 1rem;
    border:1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    h4{
      font-style: italic;
      text-align: center;
    }
	#fields{
	    display: -webkit-box;
	    display:    -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	            flex-wrap: wrap;
	    -webkit-justify-content: space-around;
	            justify-content: space-around;
		fieldset{
			flex: 24%;
            border:0;
            legend{
              margin: 0 auto;
              font-family: $typography___secondary;
              text-transform: uppercase;
            }
		}
	    select{
	      width: 100%;
	    }
	}
    button{
      margin: 1.5rem auto 0;
      @extend %button;
    }
  }
}

#results{
  table {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    border:0;
    border-collapse:separate;
    border-spacing:0 5px;
    thead{
      font-family: $typography___secondary;
      text-transform: uppercase;
      th{
        border-bottom: 1px solid $color___accent_primary;
        border-collapse:separate;
        border-spacing:5px 5px;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
    }
    tbody{
      tr{
        &:nth-of-type(2n+2){
          background-color: #f1f1f1;
        }
        &:hover{
          background-color: mix(#fff, $color___accent_primary, 85%);
        }
        td{
          padding: 0.5rem;
        }
      }
      &:before {
        content: "-";
        display: block;
        line-height: 1rem;
        color: transparent;
      }
    }
  }
}

span{
  color: $color___accent_primary;
}