<div id="page">


    <header>
        <section>
            <h1>Open<span>A</span>q</h1>
            <h3>{{ subtitle }}</h3>
        </section>
    </header>
    <main>
        <div id="top">
            <section>
                <form #aqForm="ngForm" (ngSubmit)="getMeasurements(aqForm)">
                    <h4>Place &amp; Parameter</h4>
                    <div id="fields">
                        <fieldset>
                        <legend><label for="selectedCountry">Country <span>*</span></label></legend>
                        <select id="selectedCountry"
                                name="selectedCountry"
                                (change)="changeCountry(country.value)"
                                ngModel
                                #country="ngModel"
                                required>
                            <option selected disabled value="">~ Choose Country ~</option>
                            <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
                        </select>
                        </fieldset>

                        <fieldset>
                            <legend><label for="selectedCity">City <span>*</span></label></legend>
                            <select
                                    id="selectedCity"
                                    name="selectedCity"
                                    (change)="changeCity(city.value)"
                                    ngModel
                                    #city="ngModel"
                                    required>
                                <option selected disabled value="">~ Choose City ~</option>
                                <option *ngFor="let city of cities" value="{{city.city}}">{{city.city}}</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend><label for="selectedLocation">Location</label></legend>
                            <select
                                    id="selectedLocation"
                                    name="selectedLocation"
                                    (change)="changeLocation(location.value)"
                                    ngModel
                                    #location="ngModel">
                                <option selected value="">~ Choose Location ~</option>
                                <option *ngFor="let l of locations" value="{{l.location}}">{{l.location}}</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend><label for="selectedParameter">Parameter</label></legend>
                            <select
                                    id="selectedParameter"
                                    name="selectedParameter"
                                    (change)="changeParameter(parameter.value)"
                                    ngModel
                                    #parameter="ngModel">
                                <option selected value="">~ Choose Param ~</option>
                                <option *ngFor="let p of parameters" value="{{p.id}}">{{p.name}}</option>
                            </select>
                        </fieldset>
                    </div>
                    <button class="" type="submit" type="submit" [disabled]="!aqForm.valid">Fetch Data</button>

                </form>
            </section>
        </div>

        <div id="results">
            <section>
                <div *ngIf="measurements == null"><h4>Nothing to see here.</h4></div>

                <table *ngIf="measurements != null">
                    <thead>
                    <tr>
                        <th>location</th>
                        <th>city, country</th>
                        <th>parameter</th>
                        <th>value</th>
                        <th>unit</th>
                        <th>coordinates</th>
                        <th>date.local</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of measurements">
                        <td>{{ m.location }}</td>
                        <td>{{ m.city }}, {{ m.country }}</td>
                        <td>{{ m.parameter }}</td>
                        <td>{{ m.value }}</td>
                        <td>{{ m.unit }}</td>
                        <td>{{ m.coordinates.latitude | number:"2.4-4" }}, {{ m.coordinates.longitude | number:"2.4-4" }}</td>
                        <td>{{ m.date.local }}</td>
                    </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </main>

</div>